<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menulist</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenucuponesModal()">
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openMenupromocionesModal()">
        <ion-icon name="ribbon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">menulist</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
