<ion-header [translucent]="false">
  <ion-toolbar class="toolbar-and-title">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="toolbar-and-title">Rematech Mexico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="scroll-container">
    <ion-img class="scroll-item" src="assets/carrucel/carru1.png" alt="Descripción de la imagen"></ion-img>
    <ion-img class="scroll-item" src="assets/carrucel/carru2.png" alt="Descripción de la imagen"></ion-img>
    <ion-img class="scroll-item" src="assets/carrucel/carru3.png" alt="Descripción de la imagen"></ion-img>
        <!-- Add as many images as you like -->
  </div>

  <div class="centered-content">
    <div class="icon-container">
      <img src="assets/menus/cupones.png" class="button-icon" (click)="openMenucuponesModal()">
      <p class="icon-label">Cupones</p>
    </div>
    <div class="icon-container">
      <img src="assets/menus/ofertas.png" class="button-icon" (click)="openMenupromocionesModal()">
      <p class="icon-label">Promociones</p>
    </div>
    <div class="icon-container">
      <img src="assets/menus/ofertas.png" class="button-icon" (click)="openMenupromocionesModal()">
      <p class="icon-label">Garantia y soporte</p>
    </div>
    <div class="icon-container">
      <img src="assets/menus/ofertas.png" class="button-icon" (click)="openMenupromocionesModal()">
      <p class="icon-label">Wallet y propiedad</p>
    </div>
    <div class="icon-container">
      <img src="assets/menus/ofertas.png" class="button-icon" (click)="openMenupromocionesModal()">
      <p class="icon-label">Devoluciones e intercambios</p>
    </div>
    <div class="icon-container">
      <img src="assets/menus/ofertas.png" class="button-icon" (click)="openMenupromocionesModal()">
      <p class="icon-label">Ecommerce</p>
    </div>
    <div class="icon-container">
      <img src="assets/menus/ofertas.png" class="button-icon" (click)="openMenupromocionesModal()">
      <p class="icon-label">Wish-list</p>
    </div>
  </div>
  
  <!-- Rest of your home page markup -->

</ion-content>
