
  .icon-row {
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); // Esto agrega una sombra negra
}


.icon-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-col ion-icon {
    color: black;
}

.button-icon {
  margin-top: 8px;  /* Reduce el margen superior para menos espacio entre íconos. */
  width: 60px;
  height: 60px;
}

.centered-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Alinea todos los ítems desde la parte superior. */
  gap: 15px;  /* Reduce el espacio entre íconos para un aspecto más compacto. */
}

.icon-label {
  margin-top: 5px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Asegura que el contenido interno también se alinee desde la parte superior. */
  margin: 8px 0;  /* Ajusta el margen vertical para reducir espacio entre contenedores. */
  text-align: center;
  width: 84px;
}

.toolbar-and-title {
  text-align: center;
  font-size: 35px;
  --background: #393e46;
  --color: #00adb5; 
}


.scroll-container {

  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scroll-item {
  margin-top: 10px;
  flex-shrink: 0; /* Agrega esta línea */
  width: 230px;  /* 75% del valor original (390px * 0.75) */
  height: 242.5px; /* 75% del valor original (350px * 0.75) */
  margin-right: 10px;
  margin-left: 5px;
  object-fit: cover; 
}





